{% extends 'base.html' %}
{% block content %}
<h1>Admin Login</h1>
<form action="/admin_login" method="POST">

    <div class="input">
        <label class="form-label">User Name</label>
        <input class="form-control" type="text" id="user" name="user" style="max-width: 30%; justify-content: center;" required>
    </div>

    <div class="input">
        <label class="form-label">Password</label>
        <input type="password" class="form-control" placeholder="Password" id="pass" name="pass" aria-describedby="passHelp" style="max-width: 30%; justify-content: center;" required>
    </div>

    <div>
        <input class="btn btn-primary" style="justify-content: center;" type="submit" name="submit">
    </div>
</form>
{% endblock %}